body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-style .logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.nav-style .logo .logo-color {
    color: #2e2f42;
}

.contacts .contacts-style .mail-style,
.nav-style .nav-menu .nav-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-style .nav-menu .nav-menu-link:hover,
.nav-style .nav-menu .nav-menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts .contacts-style .mail-style {
    font-weight: 400;
    color: #434455;
}

.contacts .contacts-style .mail-style:hover,
.contacts .contacts-style .mail-style:focus {
    color: #404bbf;
}

.title {
    background-color: #2E2F42;
}

.title .page-title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.title .service {
    background-color: #4D5AE5;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.title .service:hover,
.title .service:focus {
    background-color: #404BBF;
}

.strategy .strategy-title {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.strategy .strategy-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team .team-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team .team-list {
    background-color: #ffff
}

.team .team-section {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team .team-text {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio .team-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portfolio .team-section {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio .team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer .logo-color {
    color: #F4F4FD;
}

.footer .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}